<footer class="" style="height:50px; background-color:#333;">
	<div style="line-height:50px; color: white; text-align:center;">© Bassem Mawhoob 34-2339</div>
</footer>



<script>
$(".container").css("min-height", $(window).height()-130+"px")
$(window).resize(function(){
    $(".container").css("min-height", $(window).height()-130+"px")
})
</script>